anteproyecto.Rproj
.Rhistory
.RData
.Ruserdata
.Rproj.user
-main.log
_bookdown_files
_bookdown.yml
_main.docx
_main.log
_output.yml
02-marco-teorico.Rmd
03-propuesta.Rmd
book.bib
complementos
draw.rds
formas
index.Rmd
latex/*
my-styles.docx
packages.bib
preamble.tex
README.md
references.bib
style.css
images/*
formas/*
_bookdown_files/*
complementos/*
latex/*